.section{
    width: 2000px;
    height: 1000px;
    background-image: url(img/toy70.jpg);
    background-size: cover;
}
.box1{
    width: 800px;
    height: 600px;
    background-color: wheat;
    margin-left: 700px;
    margin-top: -230px;
    
    border-radius: 30%;
}.box2{
    width: 600px;
    height: 600px;
    background-color:lawngreen;
    
    border-radius: 30%;
  }