.section{
    width: 2000px;
    height: 1500px;
    background-color:lightsalmon;
    
}
.box1{
    width: 400px;
    height: 700px;
    background-color: wheat;
    border-radius: 10%;
    
    
}
.footer{
    width: 400px;
    height: 80px;
    background-color: brown;
    
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
